@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=DM+Serif+Text:ital@0;1&family=Faculty+Glyphic&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&family=Pixelify+Sans:wght@400..700&family=Quicksand:wght@300..700&family=Tiny5&family=Workbench&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Cutive+Mono&family=DM+Serif+Text:ital@0;1&family=Faculty+Glyphic&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&family=Pixelify+Sans:wght@400..700&family=Quicksand:wght@300..700&family=Tiny5&family=Workbench&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Cutive+Mono&family=DM+Serif+Text:ital@0;1&family=Faculty+Glyphic&family=Hind+Mysuru:wght@300;400;500;600;700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&family=Pixelify+Sans:wght@400..700&family=Quicksand:wght@300..700&family=Tiny5&family=Workbench&display=swap');

html {
    scroll-behavior: smooth;
    margin: auto;
}


@media (min-width: 150px) {

    .retbig {
        margin: auto;
        padding: 25px;
    }

    .isrow {
        display: flex;
        flex-direction: row;
    }

    .iscolumn {
        display: flex;
        flex-direction: column;
    }

    .itemtitulo {
        font-size: 2em;
        margin-left: 0;
        height: auto;
        margin-top: 0;
        margin-bottom: 0;
    }

    .itemdescricao {
        height: auto;
        margin-top: 0;

        font-family: "Hind Mysuru", sans-serif;
        line-height: 1.2;
        font-weight: 400;
    }

    .olhada {
        background-color: rgba(240, 248, 255, 0);
        margin-top: 0;

        margin-bottom: 30px;
        border-radius: 20px;
        border: 0;
    }


    #all1 {

        color: rgb(117, 71, 25);
        grid-template-columns: auto, 3;
        grid-template-rows: auto, 3;
        background-color: rgb(211, 211, 211);



        border-radius: 0 0 55px 55px;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.425);
        padding: 0;
        display: grid;
        gap: 25px;
    }

    #caixa1 {
        border-radius: 0 0 100px 100px;
        background-image: url(textura10.jpeg);
        background-repeat: repeat;
        color: aliceblue;
    }

    #caixa2 {
        border-radius: 0px 0px 200px 200px 0 0;
    }

    #ongs {
        width: 150px;
        height: auto;
    }

    #caixa22 {
        color: rgb(0, 0, 0);
        background-color: rgb(217, 180, 139);
        background-size: cover;
        width: 100%;

        display: flex;
        margin: 7em 0 7em 0;
        min-height: 35em;
        justify-content: center;
        overflow: hidden;
        box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.425);


    }

    #sfala {
        width: 70%;
        font-size: 25px;
        margin: auto;
        padding: 2em;
        text-align: center;
    }

    #sentendido {
        width: 10em;
        font-size: 20px;
        padding: 2em
    }


    #donationbox {
        transition: all 0.5s ease;
        width: 100%;
        display: flex;
        align-items: center;
        background-color: rgb(255, 255, 255);
        border: 2px solid rgb(102, 73, 46);
        margin: auto;
        flex-direction: column-reverse;
        padding: 10px;
    }


    #donimg {
        width: auto;
        height: 10em;
        margin: 0 2em 0 2em;
        transition: all 0.5s ease;
    }

    
#h1obj {
    margin: 0 0 0 2em;
    font-size: 3em;
}

#informacoesdoe {
    display: flex;
    flex-direction: row;
    margin-left: 2em
}

#correios {
    background-color: rgba(229, 241, 58, 0.692);
    width: 70%;
    margin: 7em 1em;
    text-align: center;
    font-size: 17px;
    border-radius: 20px;
    border: 1px gray solid;
    padding: 40px;
    transition: all 0.1s ease;

    
    margin-top: 30px;
    padding-top: 10px;
    margin-bottom: 37px;
    padding-bottom: 10px;

}

#sairitem {
    margin-top: 2em;
    text-decoration: underline;
    margin-left: 10%;
    margin-top: 2%;
    font-size: 2em;
}

#donr {
    width: 450px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

#dondescription{
    width: 80%;
}

#donation {
    width: 364px;
    height: auto;
}

.t1 {
    transition: all 0.5s ease;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

}




@media (min-width: 450px) {
    .retbig {
        width: 80%;
        margin: auto;
        padding: 10px;
    }

    .retfull {
        width: 100%;
    }

    .isrow {
        display: flex;
        flex-direction: column;
    }

    .iscolumn {
        display: flex;
        flex-direction: row;
    }

    .itemtitulo {
        padding-left: 40px;
        font-size: 3em;
        height: auto;
        margin-top: 0;
        margin-bottom: 0;
    }

    .itemdescricao {
        height: auto;
        padding-left: 40px;
        margin-top: 0;

        font-family: "Hind Mysuru", sans-serif;
        line-height: 1.2;
        font-weight: 400;
    }

    .olhada {
        background-color: rgba(240, 248, 255, 0);
        margin-left: 40px;
        margin-top: 0;
        border-radius: 20px;
        border: 0;
    }

    #all1 {

        color: rgb(117, 71, 25);
        grid-template-columns: auto, 3;
        grid-template-rows: auto, 3;
        background-color: rgb(204, 204, 204);



        border-radius: 0 0 55px 55px;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.425);
        padding: 20px;
        display: grid;
        gap: 25px;
    }

    #ongs {
        width: 200px;
        height: auto;
    }

    #caixa22 {
        background-image: url(apoio.jpg);
        background-size: cover;
        width: 100%;

        display: flex;
        margin: 7em 0 7em 0;
        min-height: 35em;
        justify-content: center;
        overflow: hidden;
        box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.425);
    }

    #caixa1 {
        background-image: none;
        background-color: aliceblue;
        border-radius: 100px;
    }


    #donationbox {
        transition: all 0.5s ease;
        width: 900px;
        height: 600px;
        display: flex;
        align-items: center;
        background-color: rgb(255, 255, 255);
        border: 2px solid rgb(102, 73, 46);
        margin: auto;
        flex-direction: row;
        padding: 10px;
    }


    #donimg {
        width: 100%;
        height: auto;
        margin: 2em;
        transition: all 0.5s ease;
    }

    
#h1obj {
    margin: 0 0 0 0;
    font-size: 3em;
}

#informacoesdoe {
    display: flex;
    flex-direction: row;
}

#correios {
    background-color: rgba(229, 241, 58, 0.692);
    width: 70%;
    margin: 7em 1em;
    text-align: center;
    font-size: 17px;
    border-radius: 20px;
    border: 1px gray solid;
    padding: 40px;
    transition: all 0.1s ease;
}

#sairitem {
    margin-top: 2em;
    text-decoration: underline;
    margin-left: 93%;
    margin-top: 2%;
    font-size: 2em;
}

#donr {
    width: 450px;
    height: 600px;
    display: flex;
    flex-direction: column;
    padding: 1em;
}


#caixa2 {
    background-color: rgb(240, 214, 170);
    grid-column: 1/3;
    grid-row: 2/3;
    box-sizing: border-box;

    max-width: 100%;
    justify-content: center;
    overflow: hidden;
    border-radius: 50px;
    border-bottom: 0;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);

}

#donation {
    width: 600px;
    height: auto;
}

.t1 {
    transition: all 0.5s ease;
    color: black;
    text-shadow: none;
}

}

body {
    margin: 0;
    font-family: "Annie Use Your Telescope", cursive;
    font-weight: 800;
    background-image: url(textura7.jpg);
    background-repeat: repeat;
}

#all2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "DM Serif Text", serif;
    color: rgb(85, 50, 16);
    grid-template-columns: auto, 3;
    grid-template-rows: auto, 4;
    background-color: rgba(219, 182, 139, 0.856);

    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
    margin-bottom: 7em;
    gap: 10px;
    padding: 10px;
    border-radius: 20px;
}

#infodonate {
    display: flex;
    padding: 10px;
    margin-bottom: 0;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 1px rgba(145, 145, 145, 0.466);
    background-image: url(textura2.jpg);
    background-repeat: repeat;

    box-sizing: border-box;
    width: 100%;
    font-family: "Hind Mysuru", sans-serif;
    font-size: 25px;
    text-align: center;
    overflow: hidden;
    font-weight: 300;
}



#id1 {
    width: 50%;
    display: flex;
    flex-direction: column;
}

#id2 {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.canto {
    line-height: 15px;
}

#linkcorreio {
    color: red;
}

#caixa1 {
    background-color: aliceblue;
    grid-column: 1/3;
    grid-row: 1/2;

    box-sizing: border-box;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);

    font-family: "Hind Mysuru", sans-serif;
    line-height: 1.2;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: black;
    transition: all 0.7s ease;
}

a:hover {
    font-size: 18px;
    transition: all 0.7s ease;
}

#logo {
    height: 100px;
    width: auto;
    border-radius: 50px;
    float: left;
    margin: 10px;
}

#logodon {
    height: 50px;
    width: auto;
    color: aliceblue;
    background-color: rgb(133, 133, 170);
    display: flex;
    align-items: center;
    padding: 0 1em 0 1em;
    border-radius: 50px;
    float: right;
    transition: all 0.4s ease;
}

#logodon:hover {
    background-color: rgb(127, 127, 199);
    transition: all 0.2s ease;
}




#titulo {
    font-size: 50px;
    margin: 18px 4px 4px 1em;
}

#tituloONG {
    font-size: 4em;
    font-weight: 800;
    margin: 18px 4px 4px 1em;
}



#caixa3 {
    background-color: aliceblue;
    grid-column: 1/3;
    grid-row: 1/2;
    border-radius: 25px;
    border: 2px black solid;
}

.caixa4 {
    background-color: rgb(255, 255, 255);
    grid-column: 1/3;
    grid-row: 2/3;
    border-radius: 10px;

    display: flex;
    align-items: center;
    width: 80%;
    margin: 8% 8% 0 8%;
}


#box1 {
    display: flex;
}

#box2 {
    display: flex;
}

#box3 {
    display: flex;
}

#box4 {
    display: none;
}

#box5 {
    display: none;
}

#box6 {
    display: none;
}

#box7 {
    display: none;
}

#box8 {
    display: none;
}

#box9 {
    display: none;
}

#box10 {
    display: none;
}

#box11 {
    display: none;
}




#direita {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.passagem {
    margin: 2em;
    border: 1px white solid;
    border-radius: 20px;
    background-color: aliceblue;
    font-size: 2em;
}

#vinda {
    margin-right: 10px;
    margin: 1em;
    transition: all 0.5s ease;
}



#ida {
    margin-left: 10px;
    margin: 1em;
    transition: all 0.5s ease;
}





#oesquerda {
    width: 40%;
}

#odireita {
    width: 60%;
}

.itemimg {
    padding-left: 1em;
    width: auto;
    margin: 2em;
    height: 13em;
    border-radius: 20px;
    transition: all 0.5s ease;
}

.itemimg:hover {
    padding-left: 1em;
    width: 80%;
    height: auto;
    border-radius: 20px;
    transition: all 0.5s ease;

}

.flexa {
    font-size: 3em;
    transition: all 0.8s ease;
    width: auto;
}

.flexa:hover {
    margin-left: 10px;
    transition: all 0.2s ease-in-out;
}

.interrogacao {
    margin: 5px;
    font-size: 2em;
    height: 55px;
    background-color: rgba(240, 248, 255, 0);
    border: 0;
    width: auto;
    transition: all 1.5s ease;
}

.interrogacao:hover {
    margin: 5px;
    font-size: 3em;
    height: 55px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: 0;
    width: auto;
    transition: all 0.8s ease;
}

.i1 {
    width: 15em;
    height: 10em;

    margin: 2em;
    border-radius: 10px;
    border: rgba(0, 0, 0, 0.507) 1px solid;
}

#foto1 {
    background-image: url(fmesa.jpg);
    background-size: cover;
    display: block;
}

#foto2 {
    background-image: url(casaco.jpg);
    background-size: cover;
    display: block;
}

#foto3 {
    background-image: url(flivros.webp);
    background-size: cover;
    display: block;
}

#foto4 {
    background-image: url(fvitrola.avif);
    background-size: cover;
    display: block;
}

#foto5 {
    background-image: url(fsofa.webp);
    background-size: cover;
}

#foto6 {
    background-image: url(ftool.jpg);
    background-size: cover;
}

#foto7 {
    background-image: url(fbike.webp);
    background-size: cover;
}

#foto8 {
    background-image: url(fpatinete.avif);
    background-size: cover;
}

#foto9 {
    background-image: url(fpic.webp);
    background-size: cover;
}

#foto10 {
    background-image: url(fcam.jpg);
    background-size: cover;
}

#foto11 {
    background-image: url(fmang.webp);
    background-size: cover;
}






#t1:hover {
    font-size: 18px;
    transition: all 0.5s ease;
}

#t2 {
    width: 70%;
    margin-left: 3em;
    font-family: "Hind Mysuru", sans-serif;
    line-height: 1.2;
    font-weight: 400;
}

#t2ONG {
    width: 80%;
    margin-left: 3em;
    font-family: "Hind Mysuru", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.2;
}

#redirencionamento {
    margin: 0 0 3em 3em;
    font-size: 18px;
    border-radius: 20px;
    border: 0;
    transition: all 0.5s ease;
}

#redirencionamento:hover {
    margin: 0 0 3em 3em;
    font-size: 20px;
    border-radius: 20px;
    padding: 3px;
    border: 0;
    transition: all 0.5s ease;
}

#base {
    display: flex;
    margin: auto;
}

.choice {
    margin: 3em;
    padding: 3em;
    border: 2px black solid;
}

#caixa5 {
    background-color: aliceblue;
    grid-column: 1/3;
    grid-row: 3/4;
    border-radius: 45px;

    display: flex;
    align-self: center;

    font-family: "Hind Mysuru", sans-serif;
    font-weight: 400;

    justify-content: space-evenly;
    padding: 1em;
}

.foottext {
    height: auto;
    margin-top: 0;
    text-decoration: underline;
    font-size: 17px;
}

.foottext:hover {
    color: red;
}

#sobre {
    position: fixed;
    background-color: rgba(223, 190, 190, 0.808);
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
    top: 0px;

}


#produto {
    height: 100vh;
    width: 100%;
    background-color: rgba(156, 151, 151, 0.61);
    position: fixed;
    top: 1px;

    display: none;
    align-items: center;
    transition: all 0.8s ease;

    font-family: "Hind Mysuru", sans-serif;
    line-height: 1.2;
    font-weight: 400;
}



#donl {
    width: 450px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}



#correios:hover {
    border: 2px gray solid;
    transition: all 0.1s ease;
}




.dondesc {
    margin: 0;
    font-size: 18px;
    color: rgb(92, 92, 92);

}



#sairitem:hover {
    color: rgb(138, 12, 12);
}